*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
body{
	background-color: #fff;
}
header{
	width: 100%;
	height: 0.4rem;
	background-color: #16d6cb;
}
section{
	width: 100%;
	height: 2.33rem;
	background-color: #17e2d6;
	position: relative;
}
main{
	width: 100%;
	height: 1.99rem;
	margin: -0.67rem auto 0;
	position: relative;
}
main img{
	width: 1.99rem;
	height: 1.99rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
h1{
	width: 100%;
	height: 0.16rem;
	font-size: 0.16rem;
	font-weight: 400;
	text-align: center;
	line-height: 0.16rem;
	margin: 0.44rem 0 0.37rem; 
	color: #a3a3a3;
}
.hy{
	margin: 0 auto;
}
.top{
	margin: 1.04rem auto 0;
}
.box{
	width: 5.84rem;
	height: 4.56rem;
	margin: -0.24rem auto 0;
	background-color: #fff;
	border-radius: 0.05rem;
	box-shadow: 0 0.02rem 0.1rem 0.04rem rgba(0, 0, 0, 0.2);
	position: relative;
	padding: 0.53rem 0.21rem 0;
	box-sizing: border-box;
}
.box .btn{
	width: 0.8rem;
	height: 0.2rem;
	position: absolute;
	top: 0.17rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.box .btn .btns{
	width: 0.18rem;
	height: 0.18rem;
	margin: 0 0.1rem;
	background-color: #a2a3a3;
	border: 0.01rem solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	float: left;
}
.box .btn .btns:nth-of-type(2){
	background-color: #fa9797;
	border: 0.01rem solid #f9dcdd;
}
.box .num{
	width: 100%;
	height: 1.08rem;
	line-height: 1.08rem;	
}
.box .num img{
	margin-top: 0.55rem;
	margin-right: 0.1rem;
	float: left;
}
.box .num1 img{
	margin-top: 0.35rem;
}
.box .num .con{
	width: 4.68rem;
	height: 1.07rem;
	border-bottom: 0.01rem solid #cfd0d1;
	float: left;
}
.box .num input{
	outline: none;
	border: 0;
	line-height: 0.8rem;
	height: 0.8rem;
	float: left;
	margin-top: 0.25rem;
	padding-left: 0.5rem;
}
.box .num .tel{
	width: 0.4rem;
	height: 0.45rem;
	margin-top: 0.35rem;
	margin-right: 0.15rem;
	float: right;
}
.box .success{
	width: 2rem;
	/*height: 0.22rem;*/
	position: absolute;
	bottom: -0.2rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.img{
	width: 3.69rem;
	height: 49px;
	margin: 0.68rem auto 0;
}
.img img{
	width: 0.49rem;
	height: 0.49rem;
	margin: 0 0.37rem;
	float: left;
}