*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
body{
	background-color: #fff;
}
header{
	width: 100%;
	height: 0.4rem;
	background-color: #16d6cb;
}
section{
	width: 100%;
	height: 2.64rem;
	background-color: #17e2d6;
	position: relative;
	z-index: 40;
}
section .img1{
	width: 0.18rem;
	height: 0.37rem;
	position: absolute;
	top: 0.26rem;
	left: 0.24rem;
	background: url('../img/zf0.png');
	background-size: contain;
}
section h3{
	width: 7.02rem;
	height: 0.34rem;
	padding-left: 0.15rem;
	font-weight: 400;
	font-size: 0.34rem;
	line-height: 0.34rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1.06rem;
	margin: 0 auto;
	color: #fff;
}
.con{
	width: 7.26rem;
	height: 1.68rem;
	margin: -0.84rem auto 0;
	background: url('../img/zf1.png');
	background-position: center;
	background-size: 7.26rem 1.68rem;
	padding: 0.16rem 0.45rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 50;
}
.con img{
	width: 0.42rem;
	height: 0.46rem;
	margin-right: 0.5rem;
	z-index: 50;
}
.con h1{
	height: 0.34rem;
	line-height: 0.34rem;
	font-size: 0.34rem;
	font-weight: 400;
	margin-right: 1.12rem;
}
.con span{
	font-size: 0.34rem;
	font-weight: 400;
	color: red;
	margin-right: 0.1rem;
}
.info{
	width: 6.44rem;
	height: 4.2rem;
	margin: 0 auto;
}
.box{
	width: 100%;
	height: 6.8rem;
	margin-top: -1.34rem;
	background-color: rgba(255, 255, 255, 0.7);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 70;
	box-shadow: 0 -0.02rem 0.1rem 0.03rem rgba(0, 0, 0, 0.1);
}
.box .tishi{
	width: 3.69rem;
	height: 0.23rem;
	position: absolute;
	top: 0.6rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.box .btns{
	width: 4.42rem;
	height: 4.42rem;
	position: absolute;
	bottom: 0.62rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
}
.box .btns ul{
	width: 100%;
	height: 0.32rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.box .btns ul li{
	width: 0.32rem;
	height: 0.32rem;
	border-radius: 50%;
	background: url('../img/zf9.png');
	background-position: center;
	position: relative;
	z-index: 20;
}
.box .btns ul li div{
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 50%;
	border: 0.03rem solid #17e2d6;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.box .btns ul .l1{
	display: block;
	width: 1.91rem;
	height: 0.25rem;
	background-color: #c0bcbc;
	position: absolute;
	left: 0.23rem;
	top: 0.04rem;
	z-index: 10;
}
.box .btns ul .l2{
	display: block;
	width: 1.91rem;
	height: 0.25rem;
	background-color: #c0bcbc;
	position: absolute;
	right: 0.23rem;
	top: 0.04rem;
	z-index: 10;
}
.box .btns .l3{
	display: block;
	height: 1.91rem;
	width: 0.25rem;
	background-color: #c0bcbc;
	position: absolute;
	right: 0.04rem;
	top: 0.23rem;
	z-index: 10;
}
.box .btns .l4{
	display: block;
	height: 1.91rem;
	width: 0.25rem;
	background-color: #c0bcbc;
	position: absolute;
	right: 0.04rem;
	bottom: 0.23rem;
	z-index: 10;
}